/** Colors */
$red: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
$blue: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
$gray: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
$handheld: 1024px;

/* Board Size */

$nav: 4rem;
$nav-m: 3rem;
$footer: 4rem;
$footer-gap: 2rem;